{
  "openapi": "3.1.0",
  "info": {
    "title": "KnifeRevive Agent Commerce",
    "version": "1.0.0",
    "description": "Local release candidate. Verify deployed capabilities before use."
  },
  "servers": [
    {
      "url": "https://kniferevive.com/wp-json/kniferevive-agent/v1"
    }
  ],
  "paths": {
    "/capabilities": {
      "get": {
        "operationId": "capabilities",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/catalog": {
      "get": {
        "operationId": "catalog",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "technology",
                "sharpening"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ]
      }
    },
    "/service-area": {
      "get": {
        "operationId": "area",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "postal_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          }
        ]
      }
    },
    "/availability": {
      "get": {
        "operationId": "availability",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "postal_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "customer_dropoff",
                "customer_collection",
                "courier_pickup",
                "courier_delivery"
              ]
            }
          }
        ]
      }
    },
    "/openapi": {
      "get": {
        "operationId": "openapi",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/sessions": {
      "post": {
        "operationId": "session",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/sessions/attach": {
      "post": {
        "operationId": "attach",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/quotes": {
      "post": {
        "operationId": "quote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteInput"
              }
            }
          }
        }
      }
    },
    "/quotes/{id}": {
      "get": {
        "operationId": "getQuote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/checkout-attempts": {
      "post": {
        "operationId": "attempt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutInput"
              }
            }
          }
        }
      }
    },
    "/checkout-attempts/{id}": {
      "get": {
        "operationId": "statusAttempt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "statusOrder",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/orders/{id}/change-requests": {
      "post": {
        "operationId": "change",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeInput"
              }
            }
          }
        }
      }
    },
    "/stripe/webhook": {
      "post": {
        "operationId": "webhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Stripe-Signature on the unmodified raw request body is mandatory. This is a processor callback, not a shopper mutation."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ShopperSession": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Krev-Agent-Session"
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "address_1": {
            "type": "string"
          },
          "address_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "address_1",
          "city",
          "state",
          "postcode",
          "country"
        ],
        "additionalProperties": false
      },
      "Leg": {
        "type": "object",
        "properties": {
          "kind": {
            "enum": [
              "customer_dropoff",
              "customer_collection",
              "courier_pickup",
              "courier_delivery"
            ]
          },
          "slot_id": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "kind"
        ],
        "additionalProperties": false
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "name",
          "email",
          "billing"
        ],
        "additionalProperties": false
      },
      "QuoteInput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 1
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                }
              },
              "required": [
                "product_id",
                "quantity"
              ],
              "additionalProperties": false
            }
          },
          "postal_code": {
            "type": "string",
            "pattern": "^[0-9]{5}$"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "rail": {
            "enum": [
              "stripe_checkout",
              "lightning"
            ]
          },
          "booking_mode": {
            "enum": [
              "scheduled",
              "pending_scheduling"
            ]
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "requires_assessment": {
            "type": "boolean"
          },
          "source": {
            "type": "string"
          }
        },
        "required": [
          "items",
          "postal_code",
          "intake",
          "return",
          "rail",
          "booking_mode"
        ],
        "additionalProperties": false
      },
      "CheckoutInput": {
        "type": "object",
        "properties": {
          "quote_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "quote_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "consent_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          }
        },
        "required": [
          "quote_id",
          "quote_hash",
          "consent_id"
        ],
        "additionalProperties": false
      },
      "ChangeInput": {
        "type": "object",
        "properties": {
          "action": {
            "enum": [
              "cancel",
              "reschedule"
            ]
          },
          "reason": {
            "type": "string",
            "maxLength": 300
          }
        },
        "required": [
          "action",
          "reason"
        ],
        "additionalProperties": false
      },
      "Session": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "session_token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          }
        },
        "required": [
          "session_id",
          "session_token",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "properties": {
          "quote_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "expires_at": {
            "type": "string"
          },
          "quote_version": {
            "type": "integer",
            "minimum": 0
          },
          "quote_hash": {
            "type": "string"
          },
          "currency": {
            "const": "USD"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 0
                },
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0
                },
                "subtotal_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "product_id",
                "name",
                "quantity",
                "subtotal_minor",
                "total_minor"
              ],
              "additionalProperties": false
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "total_minor"
              ],
              "additionalProperties": false
            }
          },
          "tax_minor": {
            "type": "integer",
            "minimum": 0
          },
          "discount_minor": {
            "type": "integer",
            "minimum": 0
          },
          "total_minor": {
            "type": "integer",
            "minimum": 0
          },
          "rail": {
            "type": "string"
          },
          "booking_mode": {
            "type": "string"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "location": {
            "type": "string"
          },
          "policy_url": {
            "type": "string"
          },
          "policy_version": {
            "type": "string"
          },
          "requires_customer": {
            "type": "boolean"
          },
          "requires_manual_assessment": {
            "type": "boolean"
          },
          "return_policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "review_url": {
            "type": "string"
          },
          "consent_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "attempt_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "quote_id",
          "quote_hash",
          "total_minor",
          "review_url",
          "intake",
          "return",
          "rail",
          "booking_mode"
        ],
        "additionalProperties": false
      },
      "Status": {
        "type": "object",
        "properties": {
          "attempt_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "order_reference": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "payment_state": {
            "enum": [
              "creating",
              "unknown",
              "pending",
              "paid",
              "expired",
              "review_required",
              "refunded"
            ]
          },
          "booking_state": {
            "enum": [
              "held",
              "confirmed",
              "pending_scheduling",
              "expired",
              "cancelled"
            ]
          },
          "rail": {
            "type": "string"
          },
          "currency": {
            "const": "USD"
          },
          "total_minor": {
            "type": "integer",
            "minimum": 0
          },
          "hold_expires_at": {
            "type": "string"
          },
          "checkout_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "invoice": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "next_action": {
            "type": "string"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "location": {
            "type": "string"
          },
          "fulfillment_stage": {
            "type": [
              "string",
              "null"
            ]
          },
          "woocommerce_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "environment": {
            "enum": [
              "live",
              "test"
            ]
          },
          "status_url": {
            "type": "string"
          }
        },
        "required": [
          "attempt_id",
          "payment_state",
          "booking_state",
          "rail",
          "total_minor",
          "environment"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer",
                "minimum": 0
              },
              "request_id": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "next_action": {
                "type": "string"
              }
            },
            "required": [],
            "additionalProperties": true
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "CatalogProduct": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer",
            "minimum": 0
          },
          "variant_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category": {
            "enum": [
              "technology",
              "sharpening"
            ]
          },
          "title": {
            "type": "string"
          },
          "canonical_url": {
            "type": "string"
          },
          "condition": {
            "type": [
              "string",
              "null"
            ]
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "verification": {
                  "const": "seller_claim"
                }
              },
              "required": [
                "values",
                "verification"
              ],
              "additionalProperties": false
            }
          },
          "currency": {
            "type": "string"
          },
          "unit_price_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "price_status": {
            "type": "string"
          },
          "availability_status": {
            "type": "string"
          },
          "available_quantity": {
            "type": [
              "integer",
              "null"
            ]
          },
          "purchasable": {
            "type": "boolean"
          },
          "fulfillment_options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipping_estimate_status": {
            "type": "string"
          },
          "fee_summary": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              }
            },
            "required": [
              "status"
            ],
            "additionalProperties": false
          },
          "return_policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "policy_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "service_definition": {
            "type": [
              "string",
              "null"
            ]
          },
          "seller_id": {
            "type": "integer",
            "minimum": 0
          },
          "checkout_mode": {
            "type": "string"
          }
        },
        "required": [
          "product_id",
          "title",
          "canonical_url",
          "unit_price_minor",
          "availability_status",
          "shipping_estimate_status",
          "policy_version"
        ],
        "additionalProperties": false
      },
      "Catalog": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogProduct"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "pages": {
            "type": "integer",
            "minimum": 0
          },
          "fetched_at": {
            "type": "string"
          },
          "cache_ttl_seconds": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "total"
        ],
        "additionalProperties": false
      },
      "Capabilities": {
        "type": "object",
        "required": [
          "schema_version",
          "merchant",
          "payment_rails",
          "sharpening",
          "technology"
        ],
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "payment_rails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sharpening": {
            "type": "object"
          },
          "technology": {
            "type": "object"
          }
        },
        "additionalProperties": true
      }
    }
  }
}
