{
  "openapi": "3.1.0",
  "info": {
    "title": "KnifeRevive Agent Commerce",
    "version": "1.6.0",
    "description": "Verify deployed capabilities before use. Booking requests and payment are independent. Draft contact fields are unsupported; use protected human review. Native refund acceptance does not prove bank arrival."
  },
  "servers": [
    {
      "url": "https://kniferevive.com/wp-json/kniferevive-agent/v1"
    }
  ],
  "paths": {
    "/capabilities": {
      "get": {
        "operationId": "capabilities",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/booking-options": {
      "get": {
        "operationId": "bookingOptions",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingOptions"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/booking-availability": {
      "get": {
        "operationId": "bookingAvailability",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/booking-coverage": {
      "get": {
        "operationId": "bookingCoverage",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingCoverage"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "postal_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          }
        ]
      }
    },
    "/bookings": {
      "post": {
        "operationId": "bookingCreate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingInput"
              }
            }
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "operationId": "bookingGet",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BookingAccess": []
          },
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/bookings/{id}/checkout": {
      "post": {
        "operationId": "bookingCheckout",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingIntent"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BookingAccess": []
          },
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/bookings/{id}/cancel": {
      "post": {
        "operationId": "bookingCancel",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BookingAccess": []
          },
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/bookings/{id}/wallet-invoice": {
      "get": {
        "operationId": "bookingWalletInvoice",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletInvoice"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BookingAccess": []
          },
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/bookings/{id}/attach": {
      "post": {
        "operationId": "bookingAttach",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "BookingAccess": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/catalog": {
      "get": {
        "operationId": "catalog",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "technology",
                "sharpening"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ]
      }
    },
    "/service-area": {
      "get": {
        "operationId": "area",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "postal_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          }
        ]
      }
    },
    "/listings": {
      "get": {
        "operationId": "listings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listings"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ]
      }
    },
    "/listings/{product_id}": {
      "get": {
        "operationId": "listing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ]
      }
    },
    "/listing-checkouts": {
      "post": {
        "operationId": "listingCreate",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingIntent"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingInput"
              }
            }
          }
        }
      }
    },
    "/listing-checkouts/{id}": {
      "get": {
        "operationId": "listingGet",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingIntent"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/listing-checkouts/{id}/quote": {
      "post": {
        "operationId": "listingQuote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingIntent"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListingQuoteInput"
              }
            }
          }
        }
      }
    },
    "/listing-checkouts/{id}/status": {
      "get": {
        "operationId": "listingStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingStatus"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/availability": {
      "get": {
        "operationId": "availability",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "postal_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{5}$"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "customer_dropoff",
                "customer_collection",
                "courier_pickup",
                "courier_delivery"
              ]
            }
          }
        ]
      }
    },
    "/openapi": {
      "get": {
        "operationId": "openapi",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/sessions": {
      "post": {
        "operationId": "session",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/sessions/attach": {
      "post": {
        "operationId": "attach",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/quotes": {
      "post": {
        "operationId": "quote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteInput"
              }
            }
          }
        }
      }
    },
    "/quotes/{id}": {
      "get": {
        "operationId": "getQuote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/checkout-attempts": {
      "post": {
        "operationId": "attempt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutInput"
              }
            }
          }
        }
      }
    },
    "/checkout-attempts/{id}": {
      "get": {
        "operationId": "statusAttempt",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "statusOrder",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ]
      }
    },
    "/orders/{id}/change-requests": {
      "post": {
        "operationId": "change",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "ShopperSession": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9:_-]{12,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeInput"
              }
            }
          }
        }
      }
    },
    "/stripe/webhook": {
      "post": {
        "operationId": "webhook",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Structured error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Stripe-Signature on the unmodified raw request body is mandatory. This is a processor callback, not a shopper mutation."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ShopperSession": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Krev-Agent-Session"
      },
      "BookingAccess": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Krev-Booking"
      }
    },
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "address_1": {
            "type": "string"
          },
          "address_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "address_1",
          "city",
          "state",
          "postcode",
          "country"
        ],
        "additionalProperties": false
      },
      "Leg": {
        "type": "object",
        "properties": {
          "kind": {
            "enum": [
              "customer_dropoff",
              "customer_collection",
              "courier_pickup",
              "courier_delivery"
            ]
          },
          "slot_id": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "kind"
        ],
        "additionalProperties": false
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "name",
          "email",
          "billing"
        ],
        "additionalProperties": false
      },
      "QuoteInput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 1
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                }
              },
              "required": [
                "product_id",
                "quantity"
              ],
              "additionalProperties": false
            }
          },
          "postal_code": {
            "type": "string",
            "pattern": "^[0-9]{5}$"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "rail": {
            "enum": [
              "stripe_checkout",
              "lightning"
            ]
          },
          "booking_mode": {
            "enum": [
              "scheduled",
              "pending_scheduling"
            ]
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "requires_assessment": {
            "type": "boolean"
          },
          "source": {
            "type": "string"
          }
        },
        "required": [
          "items",
          "postal_code",
          "intake",
          "return",
          "rail",
          "booking_mode"
        ],
        "additionalProperties": false
      },
      "CheckoutInput": {
        "type": "object",
        "properties": {
          "quote_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "quote_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "consent_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          }
        },
        "required": [
          "quote_id",
          "quote_hash",
          "consent_id"
        ],
        "additionalProperties": false
      },
      "ChangeInput": {
        "type": "object",
        "properties": {
          "action": {
            "enum": [
              "cancel",
              "reschedule"
            ]
          },
          "reason": {
            "type": "string",
            "maxLength": 300
          }
        },
        "required": [
          "action",
          "reason"
        ],
        "additionalProperties": false
      },
      "Session": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "session_token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          }
        },
        "required": [
          "session_id",
          "session_token",
          "expires_at"
        ],
        "additionalProperties": false
      },
      "Quote": {
        "type": "object",
        "properties": {
          "quote_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "expires_at": {
            "type": "string"
          },
          "quote_version": {
            "type": "integer",
            "minimum": 0
          },
          "quote_hash": {
            "type": "string"
          },
          "currency": {
            "const": "USD"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 0
                },
                "name": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0
                },
                "subtotal_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "product_id",
                "name",
                "quantity",
                "subtotal_minor",
                "total_minor"
              ],
              "additionalProperties": false
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "total_minor"
              ],
              "additionalProperties": false
            }
          },
          "tax_minor": {
            "type": "integer",
            "minimum": 0
          },
          "discount_minor": {
            "type": "integer",
            "minimum": 0
          },
          "total_minor": {
            "type": "integer",
            "minimum": 0
          },
          "rail": {
            "type": "string"
          },
          "booking_mode": {
            "type": "string"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "location": {
            "type": "string"
          },
          "policy_url": {
            "type": "string"
          },
          "policy_version": {
            "type": "string"
          },
          "requires_customer": {
            "type": "boolean"
          },
          "requires_manual_assessment": {
            "type": "boolean"
          },
          "return_policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "review_url": {
            "type": "string"
          },
          "consent_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "attempt_id": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "quote_id",
          "quote_hash",
          "total_minor",
          "review_url",
          "intake",
          "return",
          "rail",
          "booking_mode"
        ],
        "additionalProperties": false
      },
      "Status": {
        "type": "object",
        "properties": {
          "attempt_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "order_reference": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "payment_state": {
            "enum": [
              "creating",
              "unknown",
              "pending",
              "paid",
              "expired",
              "review_required",
              "refunded"
            ]
          },
          "booking_state": {
            "enum": [
              "held",
              "confirmed",
              "pending_scheduling",
              "expired",
              "cancelled"
            ]
          },
          "rail": {
            "type": "string"
          },
          "currency": {
            "const": "USD"
          },
          "total_minor": {
            "type": "integer",
            "minimum": 0
          },
          "hold_expires_at": {
            "type": "string"
          },
          "checkout_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "invoice": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          },
          "next_action": {
            "type": "string"
          },
          "intake": {
            "$ref": "#/components/schemas/Leg"
          },
          "return": {
            "$ref": "#/components/schemas/Leg"
          },
          "location": {
            "type": "string"
          },
          "fulfillment_stage": {
            "type": [
              "string",
              "null"
            ]
          },
          "woocommerce_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "environment": {
            "enum": [
              "live",
              "test"
            ]
          },
          "status_url": {
            "type": "string"
          }
        },
        "required": [
          "attempt_id",
          "payment_state",
          "booking_state",
          "rail",
          "total_minor",
          "environment"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer",
                "minimum": 0
              },
              "request_id": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "next_action": {
                "type": "string"
              }
            },
            "required": [],
            "additionalProperties": true
          }
        },
        "required": [
          "code",
          "message",
          "data"
        ],
        "additionalProperties": false
      },
      "CatalogProduct": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer",
            "minimum": 0
          },
          "variant_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "category": {
            "enum": [
              "technology",
              "sharpening"
            ]
          },
          "title": {
            "type": "string"
          },
          "canonical_url": {
            "type": "string"
          },
          "condition": {
            "type": [
              "string",
              "null"
            ]
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "verification": {
                  "const": "seller_claim"
                }
              },
              "required": [
                "values",
                "verification"
              ],
              "additionalProperties": false
            }
          },
          "currency": {
            "type": "string"
          },
          "unit_price_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "price_status": {
            "type": "string"
          },
          "availability_status": {
            "type": "string"
          },
          "available_quantity": {
            "type": [
              "integer",
              "null"
            ]
          },
          "purchasable": {
            "type": "boolean"
          },
          "fulfillment_options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipping_estimate_status": {
            "type": "string"
          },
          "fee_summary": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              }
            },
            "required": [
              "status"
            ],
            "additionalProperties": false
          },
          "return_policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "policy_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "service_definition": {
            "type": [
              "string",
              "null"
            ]
          },
          "seller_id": {
            "type": "integer",
            "minimum": 0
          },
          "checkout_mode": {
            "type": "string"
          }
        },
        "required": [
          "product_id",
          "title",
          "canonical_url",
          "unit_price_minor",
          "availability_status",
          "shipping_estimate_status",
          "policy_version"
        ],
        "additionalProperties": false
      },
      "Catalog": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogProduct"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "pages": {
            "type": "integer",
            "minimum": 0
          },
          "fetched_at": {
            "type": "string"
          },
          "cache_ttl_seconds": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "items",
          "page",
          "total"
        ],
        "additionalProperties": false
      },
      "Capabilities": {
        "type": "object",
        "required": [
          "schema_version",
          "merchant",
          "payment_rails",
          "sharpening",
          "technology"
        ],
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "payment_rails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sharpening": {
            "type": "object"
          },
          "technology": {
            "type": "object"
          },
          "booking": {
            "type": "object",
            "properties": {
              "modes": {
                "type": "array",
                "minItems": 4,
                "maxItems": 4,
                "uniqueItems": true,
                "items": {
                  "enum": [
                    "pay_later_dropoff",
                    "prepaid_dropoff",
                    "prepaid_pickup",
                    "prepaid_pickup_delivery"
                  ]
                }
              },
              "handoff_options": {
                "type": "array",
                "minItems": 4,
                "maxItems": 4,
                "items": {
                  "$ref": "#/components/schemas/BookingHandoffOption"
                }
              }
            },
            "required": [
              "modes",
              "handoff_options"
            ],
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "BookingHandoffOption": {
        "type": "object",
        "properties": {
          "mode": {
            "enum": [
              "pay_later_dropoff",
              "prepaid_dropoff",
              "prepaid_pickup",
              "prepaid_pickup_delivery"
            ]
          },
          "return_mode": {
            "enum": [
              "customer_collection",
              "courier_delivery"
            ]
          },
          "label": {
            "type": "string"
          },
          "transport_fee_minor": {
            "type": "integer",
            "minimum": 0
          },
          "zip_required": {
            "type": "boolean"
          },
          "payment_required": {
            "type": "boolean"
          }
        },
        "required": [
          "mode",
          "return_mode",
          "label",
          "transport_fee_minor",
          "zip_required",
          "payment_required"
        ],
        "additionalProperties": false
      },
      "BookingOptions": {
        "type": "object",
        "properties": {
          "adapter_version": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "booking_url": {
            "type": "string"
          },
          "modes": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "uniqueItems": true,
            "items": {
              "enum": [
                "pay_later_dropoff",
                "prepaid_dropoff",
                "prepaid_pickup",
                "prepaid_pickup_delivery"
              ]
            }
          },
          "handoff_options": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "items": {
              "$ref": "#/components/schemas/BookingHandoffOption"
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "adapter_version",
          "enabled",
          "booking_url",
          "modes",
          "handoff_options",
          "services"
        ],
        "additionalProperties": true
      },
      "BookingInput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 1
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                }
              },
              "required": [
                "product_id",
                "quantity"
              ],
              "additionalProperties": false
            }
          },
          "mode": {
            "enum": [
              "pay_later_dropoff",
              "prepaid_dropoff",
              "prepaid_pickup",
              "prepaid_pickup_delivery"
            ]
          },
          "preferred_date": {
            "type": "string",
            "format": "date"
          },
          "postal_code": {
            "type": "string",
            "pattern": "^[0-9]{5}$"
          },
          "return_mode": {
            "enum": [
              "customer_collection",
              "courier_delivery"
            ]
          },
          "notes": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "items",
          "mode",
          "preferred_date"
        ],
        "additionalProperties": false,
        "allOf": [
          {
            "if": {
              "properties": {
                "mode": {
                  "const": "prepaid_pickup_delivery"
                }
              },
              "required": [
                "mode"
              ]
            },
            "then": {
              "properties": {
                "return_mode": {
                  "const": "courier_delivery"
                }
              }
            }
          }
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "booking_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "booking_state": {
            "enum": [
              "draft",
              "awaiting_payment",
              "requested",
              "confirmed",
              "cancelled"
            ]
          },
          "payment_state": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 0
                },
                "title": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0
                },
                "unit_price_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "product_id",
                "title",
                "quantity",
                "unit_price_minor"
              ],
              "additionalProperties": false
            }
          },
          "preferred_window": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "start_at": {
                "type": "string"
              },
              "end_at": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              }
            },
            "required": [
              "date",
              "start_at",
              "end_at",
              "timezone"
            ],
            "additionalProperties": false
          },
          "return_mode": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "service_subtotal_minor": {
            "type": "integer",
            "minimum": 0
          },
          "merchant_trip_fee_minor": {
            "type": "integer",
            "minimum": 0
          },
          "estimated_subtotal_minor": {
            "type": "integer",
            "minimum": 0
          },
          "total_minor": {
            "type": "null"
          },
          "estimate_only": {
            "const": true
          },
          "prepayment_enabled": {
            "type": "boolean"
          },
          "policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "review_url": {
            "type": "string"
          },
          "status_url": {
            "type": "string"
          },
          "appointment_confirmed": {
            "type": "boolean"
          },
          "refund_state": {
            "enum": [
              "not_issued",
              "full_gateway_accepted",
              "partial_gateway_accepted",
              "manual_review_required"
            ]
          },
          "expires_at": {
            "type": "string"
          },
          "coverage": {
            "$ref": "#/components/schemas/BookingCoverage"
          },
          "direct_wallet_enabled": {
            "const": false
          },
          "booking_access_token": {
            "type": "string"
          },
          "refund_summary": {
            "$ref": "#/components/schemas/RefundSummary"
          },
          "order_reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "order_state": {
            "type": [
              "string",
              "null"
            ]
          },
          "order_bridge_state": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingEvent"
            }
          },
          "address_authorization": {
            "enum": [
              "unknown",
              "needs_user",
              "granted_for_order",
              "expired",
              "revoked",
              "merchant_review_required"
            ]
          },
          "payment_authorization": {
            "enum": [
              "unknown",
              "needs_user",
              "authorized_for_quote",
              "expired",
              "revoked",
              "unsupported"
            ]
          },
          "delegated_card_authorization": {
            "const": "unsupported"
          },
          "host_wallet_authorization": {
            "const": "unknown"
          }
        },
        "required": [
          "booking_id",
          "booking_state",
          "payment_state",
          "mode",
          "items",
          "preferred_window",
          "estimated_subtotal_minor",
          "total_minor",
          "estimate_only",
          "review_url",
          "status_url",
          "appointment_confirmed",
          "refund_state"
        ],
        "additionalProperties": false
      },
      "BookingCoverage": {
        "type": "object",
        "properties": {
          "postal_code": {
            "type": "string",
            "pattern": "^([0-9]{5})?$"
          },
          "coverage_state": {
            "enum": [
              "not_required",
              "eligible",
              "bay_area_dropoff_only",
              "outside_bay_area",
              "address_review_required"
            ]
          },
          "service_available": {
            "type": "boolean"
          },
          "pickup_eligible": {
            "type": "boolean"
          },
          "prepayment_eligible": {
            "type": "boolean"
          },
          "address_review_required": {
            "type": "boolean"
          },
          "counties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "source_url": {
            "type": "string"
          },
          "geography_vintage": {
            "type": "string"
          }
        },
        "required": [
          "postal_code",
          "coverage_state",
          "service_available",
          "pickup_eligible",
          "prepayment_eligible",
          "address_review_required",
          "message"
        ],
        "additionalProperties": false
      },
      "RefundSummary": {
        "type": "object",
        "properties": {
          "refund_state": {
            "enum": [
              "not_issued",
              "full_gateway_accepted",
              "partial_gateway_accepted",
              "manual_review_required"
            ]
          },
          "refund_recorded_minor": {
            "type": "integer",
            "minimum": 0
          },
          "refund_gateway_accepted_minor": {
            "type": "integer",
            "minimum": 0
          },
          "refunds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reference": {
                  "type": "string"
                },
                "amount_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "state": {
                  "enum": [
                    "gateway_accepted",
                    "manual_record_only"
                  ]
                }
              },
              "required": [
                "reference",
                "amount_minor",
                "state"
              ],
              "additionalProperties": false
            }
          },
          "refund_arrival_verified": {
            "const": false
          },
          "refund_destination": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "refund_state",
          "refund_recorded_minor",
          "refund_gateway_accepted_minor",
          "refunds",
          "refund_arrival_verified",
          "refund_destination"
        ],
        "additionalProperties": false
      },
      "BookingEvent": {
        "type": "object",
        "properties": {
          "schema_version": {
            "const": "1"
          },
          "event_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "type": {
            "enum": [
              "booking.awaiting_payment",
              "booking.request_received",
              "woocommerce.order_created",
              "booking.confirmed",
              "booking.cancelled",
              "payment.verified",
              "refund.review_required",
              "woocommerce.order_state",
              "woocommerce.order_cancelled",
              "cancellation.payment_review_required",
              "refund.gateway_accepted",
              "refund.manual_review_required",
              "refund.record_removed",
              "payment.capacity_review_required"
            ]
          },
          "booking_reference": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "correlation_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "order_reference": {
            "type": [
              "string",
              "null"
            ]
          },
          "booking_state": {
            "enum": [
              "draft",
              "awaiting_payment",
              "requested",
              "confirmed",
              "cancelled"
            ]
          },
          "order_state": {
            "type": [
              "string",
              "null"
            ]
          },
          "payment_state": {
            "type": "string"
          },
          "refund_state": {
            "enum": [
              "not_issued",
              "full_gateway_accepted",
              "partial_gateway_accepted",
              "manual_review_required"
            ]
          },
          "merchant_confirmation_required": {
            "type": "boolean"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "schema_version",
          "event_id",
          "type",
          "booking_reference",
          "order_reference",
          "booking_state",
          "order_state",
          "payment_state",
          "merchant_confirmation_required",
          "occurred_at"
        ],
        "additionalProperties": false
      },
      "WalletInvoice": {
        "type": "object",
        "properties": {
          "booking_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "state": {
            "enum": [
              "settled",
              "awaiting-payment"
            ]
          },
          "payable": {
            "type": "boolean"
          },
          "bolt11": {
            "type": [
              "string",
              "null"
            ]
          },
          "amount_sat": {
            "type": "integer",
            "minimum": 0
          },
          "amount_msat": {
            "type": "integer",
            "minimum": 0
          },
          "payment_hash": {
            "type": "string"
          },
          "network": {
            "const": "bc"
          },
          "fiat_minor": {
            "type": "integer",
            "minimum": 0
          },
          "currency": {
            "const": "USD"
          },
          "expires_at": {
            "type": "integer",
            "minimum": 0
          },
          "wallet_authorization_required": {
            "const": true
          },
          "status_url": {
            "type": "string"
          }
        },
        "required": [
          "booking_id",
          "state",
          "payable",
          "bolt11"
        ],
        "additionalProperties": false
      },
      "ListingReturnPolicy": {
        "type": "object",
        "properties": {
          "source": {
            "const": "native_product_return_policy"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "days": {
            "type": "integer",
            "minimum": 0
          },
          "fee_terms": {
            "type": "string"
          }
        },
        "required": [
          "source",
          "name",
          "label",
          "description",
          "type",
          "days",
          "fee_terms"
        ],
        "additionalProperties": false
      },
      "Listing": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "canonical_url": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "seller": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "minimum": 0
              },
              "display_name": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "display_name"
            ],
            "additionalProperties": false
          },
          "condition": {
            "type": [
              "string",
              "null"
            ]
          },
          "condition_verification": {
            "const": "seller_claim"
          },
          "currency": {
            "type": "string"
          },
          "unit_price_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "price_status": {
            "type": "string"
          },
          "stock_status": {
            "type": "string"
          },
          "available_quantity": {
            "type": [
              "integer",
              "null"
            ]
          },
          "inventory_reserved": {
            "const": false
          },
          "checkout_eligibility": {
            "enum": [
              "handoff_only",
              "handoff_disabled",
              "unavailable",
              "unsupported_variation",
              "requires_selection",
              "seller_disabled",
              "needs_manual_review"
            ]
          },
          "direct_payment_enabled": {
            "const": false
          },
          "variations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variation_id": {
                  "type": "integer",
                  "minimum": 0
                },
                "attributes": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "in_stock": {
                  "type": "boolean"
                },
                "checkout_eligibility": {
                  "const": "unsupported_variation"
                }
              },
              "required": [
                "variation_id",
                "attributes",
                "in_stock",
                "checkout_eligibility"
              ],
              "additionalProperties": false
            }
          },
          "fulfillment_type": {
            "enum": [
              "service",
              "shipping",
              "virtual"
            ]
          },
          "fulfillment_note": {
            "type": [
              "string",
              "null"
            ]
          },
          "policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "return_policy_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "return_policy": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ListingReturnPolicy"
              },
              {
                "type": "null"
              }
            ]
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "product_id",
          "canonical_url",
          "seller",
          "checkout_eligibility",
          "direct_payment_enabled",
          "inventory_reserved"
        ],
        "additionalProperties": false
      },
      "Listings": {
        "type": "object",
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Listing"
            }
          },
          "page": {
            "type": "integer",
            "minimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "pages": {
            "type": "integer",
            "minimum": 0
          },
          "fetched_at": {
            "type": "string"
          }
        },
        "required": [
          "schema_version",
          "items",
          "page",
          "per_page",
          "total",
          "pages",
          "fetched_at"
        ],
        "additionalProperties": false
      },
      "ListingInput": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 1
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 30
                }
              },
              "required": [
                "product_id",
                "quantity"
              ],
              "additionalProperties": false
            }
          },
          "coupons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 5
          },
          "source": {
            "type": "string",
            "maxLength": 80
          },
          "booking_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      },
      "ListingQuoteInput": {
        "type": "object",
        "properties": {
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping": {
            "$ref": "#/components/schemas/Address"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "payment_method": {
            "type": "string"
          },
          "shipping_methods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 10
          }
        },
        "required": [],
        "additionalProperties": false
      },
      "ListingQuote": {
        "type": "object",
        "properties": {
          "currency": {
            "const": "USD"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "integer",
                  "minimum": 0
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0
                },
                "listing": {
                  "$ref": "#/components/schemas/Listing"
                },
                "subtotal_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "tax_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "product_id",
                "quantity",
                "listing"
              ],
              "additionalProperties": false
            }
          },
          "total_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "estimate_only": {
            "type": "boolean"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ]
          },
          "shipping_rates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "package_index": {
                  "type": "integer",
                  "minimum": 0
                },
                "selected": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      },
                      "cost_minor": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "tax_minor": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "id",
                      "label",
                      "cost_minor",
                      "tax_minor"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "package_index",
                "selected",
                "options"
              ],
              "additionalProperties": false
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "total_minor": {
                  "type": "integer",
                  "minimum": 0
                },
                "tax_minor": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "total_minor",
                "tax_minor"
              ],
              "additionalProperties": false
            }
          },
          "tax_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "shipping_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "discount_minor": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payment_method": {
            "type": "string"
          },
          "policy_url": {
            "type": "string"
          },
          "policy_version": {
            "type": "string"
          },
          "return_policy_url": {
            "type": "string"
          },
          "quote_hash": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          }
        },
        "required": [
          "currency",
          "items",
          "total_minor",
          "estimate_only",
          "reason",
          "shipping_rates",
          "fees",
          "tax_minor",
          "shipping_minor",
          "discount_minor",
          "payment_methods",
          "policy_url",
          "return_policy_url"
        ],
        "additionalProperties": false
      },
      "ListingStatus": {
        "type": "object",
        "properties": {
          "intent_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "handoff_state": {
            "enum": [
              "review",
              "preparing_cart",
              "cart_ready",
              "order_linked"
            ]
          },
          "payment_state": {
            "enum": [
              "not_started",
              "pending",
              "paid",
              "refund_recorded",
              "cancelled",
              "paid_cancelled_review_required",
              "needs_review"
            ]
          },
          "payment_verification": {
            "enum": [
              "none",
              "native_gateway_order_event"
            ]
          },
          "fulfillment_state": {
            "type": "string"
          },
          "woocommerce_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduling_state": {
            "enum": [
              "not_booked",
              "not_applicable"
            ]
          },
          "inventory_reserved_at_quote": {
            "const": false
          },
          "direct_payment_enabled": {
            "const": false
          },
          "refund_summary": {
            "$ref": "#/components/schemas/RefundSummary"
          },
          "next_action": {
            "type": "string"
          },
          "status_url": {
            "type": "string"
          }
        },
        "required": [
          "intent_id",
          "handoff_state",
          "payment_state",
          "payment_verification",
          "fulfillment_state",
          "woocommerce_status",
          "scheduling_state",
          "inventory_reserved_at_quote",
          "direct_payment_enabled",
          "next_action",
          "status_url"
        ],
        "additionalProperties": false
      },
      "ListingIntent": {
        "type": "object",
        "properties": {
          "intent_id": {
            "type": "string",
            "pattern": "^[a-f0-9]{32}$"
          },
          "handoff_state": {
            "enum": [
              "review",
              "preparing_cart",
              "cart_ready",
              "order_linked"
            ]
          },
          "payment_state": {
            "enum": [
              "not_started",
              "pending",
              "paid",
              "refund_recorded",
              "cancelled",
              "paid_cancelled_review_required",
              "needs_review"
            ]
          },
          "payment_verification": {
            "enum": [
              "none",
              "native_gateway_order_event"
            ]
          },
          "fulfillment_state": {
            "type": "string"
          },
          "woocommerce_status": {
            "type": [
              "string",
              "null"
            ]
          },
          "scheduling_state": {
            "enum": [
              "not_booked",
              "not_applicable"
            ]
          },
          "inventory_reserved_at_quote": {
            "const": false
          },
          "direct_payment_enabled": {
            "const": false
          },
          "refund_summary": {
            "$ref": "#/components/schemas/RefundSummary"
          },
          "next_action": {
            "type": "string"
          },
          "status_url": {
            "type": "string"
          },
          "expires_at": {
            "type": "string"
          },
          "quote_expires_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "review_url": {
            "type": "string"
          },
          "quote": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ListingQuote"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "intent_id",
          "handoff_state",
          "payment_state",
          "payment_verification",
          "fulfillment_state",
          "woocommerce_status",
          "scheduling_state",
          "inventory_reserved_at_quote",
          "direct_payment_enabled",
          "next_action",
          "status_url",
          "expires_at",
          "quote_expires_at",
          "review_url",
          "quote"
        ],
        "additionalProperties": false
      }
    }
  }
}
